.sidebar {
  /*width: 250px;
  margin-top: 59px;*/
  /*height: 100%;
  padding-top: 20px;*/
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: #333;*/
  background-color: #0088ce;
  color: #fff;

  width: 6.25rem;
  height: 100vh;
  padding-top: 3.75rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 1060;
}

.list-group-item {
  background-color: #0088ce;
  border: none;
}

hr{
  /*margin: 0 auto;*/
  border-bottom: 1px solid #fff;
}

.list-group-item:hover {
  /*background-color: #555;*/
  background-color: #0074af;
  cursor: pointer;
}

.nav-link {
  color: #fff;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}

.list-group-item.active {
  /*background-color: #1976d2;*/
  background-color: #0074af;
}
