.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0088ce;
  color: #fff;

  width: 6.25rem;
  height: 100vh;
  padding-top: 3.75rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 1060;
}

.list-group-item:hover {
  background-color: #0074af;
  cursor: pointer;
}

.nav-link {
  color: #fff;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  margin-right: 100px;
}

.list-group-item.active {
  background-color: #0074af;
  border-right: none;
  border-left: none;
}

.list-group-item {
  background-color: #0088ce;
  border-right: none;
  border-left: none;
}
