<div class="sidebar">
  <ul class="list-group">
    <li class="list-group-item"><a routerLink="enterprises" class="nav-link">Enterprises</a></li>
    <li class="list-group-item"><a routerLink="games" class="nav-link">Games</a></li>
    <li class="list-group-item"><a routerLink="categories" class="nav-link">Categories</a></li>
    <li class="list-group-item"><a routerLink="users" class="nav-link">Users</a></li>
  </ul>
</div>
<div class="main-content">
  <!-- Le contenu principal sera affiché ici -->
  <router-outlet></router-outlet>
</div>
